*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1.4em;
	vertical-align: baseline;
	text-decoration: none;
	outline: 0;
}
.container {
	width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}
/* paleta kolorów */

:root {
	--dark: #2e2f42;
	--primary-brand: #4d5ae5;
	--white-background: #ffffff;
	--text: #434455;
	--light: #f4f4fd;
	--accent: #e7e9fc;
	--pressed-state: #404bbf;
	--success: #31d0aa;
	--subtle-title: #8e8f99;
	--modal-overlay: rgba(46, 47, 66, 0.4);
	--modal-background: #fcfcfc;
	--hero-background: rgba(46, 47, 66, 0.7);
}

/* style globalne */

body {
	font-family: "Roboto", sans-serif;
	color: var(--text);
}
a {
	text-decoration: none;
	color: var(--text);
}
a:active {
	color: var(--pressed-state);
}
a:hover {
	color: var(--pressed-state);
}
ul {
	font-style: normal;
	list-style-type: none;
}
button {
	cursor: pointer;
}
h1 {
	color: var(--white-background);
	font-weight: 700;
	font-size: 56px;
	line-height: 1, 07;
	letter-spacing: 0.02em;
	font-style: normal;
	text-align: center;
	padding-top: 188px;
}

h2 {
	color: var(--dark);
	font-weight: 700;
	font-size: 36px;
	line-height: 1, 11;
	letter-spacing: 0.02em;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 72px;
}

h3 {
	color: var(--dark);
	font-weight: 500;
	font-size: 20px;
	line-height: 1, 2;
	letter-spacing: 0.02em;
}

/* header - logo */

.header_logo {
	font-family: Raleway;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1, 17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.header_logo-blue {
	color: var(--primary-brand);
}
.header_logo-black {
	color: var(--dark);
}

/* nawigacja nagłówka */

.header_border {
	border-bottom: 1px solid var(--accent);
}

.header_structure {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 72px;
}
.header_structure-item {
	padding-right: 76px;
}
.header_nav {
	display: flex;
	font-weight: 500;
	font-size: 16px;
	line-height: 1, 5;
	letter-spacing: 0.02em;
	gap: 40px;
}

/* kontakty w nagłówku */

.header_contacts {
	display: flex;
	flex-direction: row;
	gap: 40px;
	font-size: 16px;
	line-height: 1, 5;
	letter-spacing: 0.02em;
}

/* hero */

.hero {
	background-image: linear-gradient(
			var(--hero-background),
			rgba(46, 47, 66, 0.7)
		),
		url("../images/image-17.jpg");
	background-color: var(--dark);
	overflow: hidden;
	height: 600px;
	width: 1440px;
}
.hero_button {
	display: flex;
	justify-content: center;
	margin-top: 48px;
}
.hero_button-look {
	color: var(--white-background);
	background-color: var(--primary-brand);
	font-weight: 500;
	font-size: 16px;
	line-height: 1, 5;
	letter-spacing: 0.02em;
	padding: 16px 32px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero_button-look:hover {
	background-color: var(--pressed-state);
}

/* Main Page section 1 */

.section1_structure {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 120px;
	gap: 24px;
}
.section1_svg {
	background-color: var(--light);
	padding: 24px 100px;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	margin-bottom: 8px;
}
.section1_content {
	color: var(--text);
	font-size: 16px;
	line-height: 1, 5;
	letter-spacing: 0.02em;
	margin-top: 8px;
}
/* Main Page - section 2 */

.section2_structure {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 120px;
}

/* Main Page - section 3 */

.section3 {
	background-color: var(--light);
}
.section3_structure {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 120px;
}
.section3_item {
	border-radius: 0px 0px 4px 4px;
	background: var(--white-background);
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.section3_item-name {
	text-align: center;
	padding-top: 32px;
}
.section3_item-stand {
	color: var(--text);
	font-size: 16px;
	line-height: 1, 5;
	letter-spacing: 0.02em;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.section3_socials-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 24px;
	fill: var(--light);
	padding-bottom: 32px;
}
.section3_socials-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: var(--primary-brand);
	border-radius: 50%;
}
.section3_socials-item:hover {
	border-radius: 50%;
	cursor: pointer;
	fill: var(--light);
	background-color: var(--success);
}

/* customers */

.customers_list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
	fill: var(--subtle-title);
	gap: 24px;
	margin-bottom: 120px;
}
.customers_item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.customers_svg {
	border-radius: 4px;
	border: 1px solid;
	border-color: var(--subtle-title);
	width: 168px;
	height: 88px;
	padding: 16px 32px;
}
.customers_svg:hover {
	fill: var(--pressed-state);
	border-color: var(--pressed-state);
	cursor: pointer;
}

/* footer */

.footer {
	background-color: var(--dark);
}
.footer_structure {
	display: flex;
	flex-direction: row;
	gap: 120px;
}
.footer_logo {
	padding-top: 101.5px;
}
.footer_logo-title {
	font-family: Raleway;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1, 17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.footer_logo-blue {
	color: var(--primary-brand);
}
.footer_logo-white {
	color: var(--light);
}
.footer_logo-content {
	color: var(--light);
	font-size: 16px;
	line-height: 1, 5;
	letter-spacing: 0.02em;
	padding-top: 17.5px;
	padding-bottom: 100px;
}
.footer_socials {
	padding-top: 100px;
}
.footer_socials-title {
	font-size: 16px;
	font-weight: 500;
	color: var(--white-background);
	line-height: 1.5;
	letter-spacing: 0.32px;
	padding-bottom: 16px;
}
.footer_socials-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 16px;
	fill: var(--light);
	padding-bottom: 32px;
}
.footer_socials-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background-color: var(--primary-brand);
	border-radius: 50%;
}
.footer_socials-item:hover {
	border-radius: 50%;
	cursor: pointer;
	fill: var(--light);
	background-color: var(--success);
}

/* Filters*/

.portfolio_list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 24px;
	padding-top: 96px;
}
.portfolio_button {
	padding: 12px 24px;
}

.portfolio_list .portfolio_button {
	color: var(--primary-brand);
	background-color: var(--light);
	font-weight: 500;
	font-size: 16px;
	line-height: 1, 5;
	letter-spacing: 4;
	border: 1px solid var(--accent);
	border-radius: 4px;
}

.portfolio_list .portfolio_button:hover,
.portfolio_list .portfolio_button:focus {
	color: var(--white-background);
	background-color: var(--pressed-state);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
		0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
	border: 1px solid var(--accent);
	border-radius: 4px;
}

/* Portfolio */

.portfolio_main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 72px;
	padding-bottom: 120px;
	row-gap: 48px;
}
.portfolio_item {
	display: flex;
	flex-direction: column;
}
.portfolio_item:hover {
	box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
		0px 1px 1px 0px rgba(46, 47, 66, 0.16),
		0px 1px 6px 0px rgba(46, 47, 66, 0.08);
	cursor: pointer;
}
.portfolio_content {
	padding-inline: 16px;
	padding-block: 32px;
	border: 1px solid var(--accent);
	border-top: transparent;
}
.portfolio_division {
	padding-top: 8px;
}
